* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px
}

main {
    margin-bottom: 5rem;
}

section {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

h2 {
    font-weight: bold;
    text-align: center;
}

.alumno {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.alumno h2 {
    text-align: center;
    margin-bottom: 1rem;
    flex: 100%;
}

.cardAlumno {
    flex-shrink: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 5px 15px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.foto {
    display: flex;
    flex: 50%;
    justify-content: center;
}

.foto img {
    height: 224px;
    width: auto;
    border-radius: 360px;
}

.infoAlumno {
    flex: 75%;
}

.infoAlumno p {
    line-height: 1.5em;
    margin-bottom: 5px;
}

.infoIMSS {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 1rem;
    width: 30%;
    height: 168px;
}

.infoIMSS p {
    margin: 1rem;
}

.tabla {
    margin: 1rem;
    width: 100%;
    flex-grow: 1;
    text-align: center;
}

.tabla table {
    width: 100%;
    border-collapse: collapse;
}

.tabla th{
    color: white;
    background-color: #57812C;
    
    
}

.tabla tr {
    border: 1px solid #57812C;
}
