* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px
}

main {
    margin-bottom: 2rem;
}

section {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

h2 {
    font-weight: bold;
    text-align: center;
}

a {
    color: #0345A1;
    text-decoration: underline;
}

table {
    width: 100%;
}

th{
    color: white;
    background-color: #57812C;
    padding: 5px;
}

tr {
    border: 1px solid #57812C;
}

td {
    vertical-align: middle;
    padding: 5px;
}

/* MOBILE */
@media (max-width: 991px){
    .alumno, .infoAcademico, .extracurricular {
        margin-top: 0rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    
    .alumno h2, .infoAcademico h2, .extracurricular h2 {
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
        flex: 100%;
    }
    
    .cardAlumno {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 25px 5px 15px 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 25px;
        margin: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    .foto {
        display: flex;
        flex: 50%;
        justify-content: center;
    }
    
    .foto img {
        height: 200px;
        width: auto;
    }
    
    .infoAlumno {
        flex: 75%;
        margin: 2rem;
        margin-right: 1rem;
    }
    
    .infoAlumno p {
        line-height: 1.5em;
        margin-bottom: 5px;
    }
    
    .infoIMSS {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        margin: 1rem;
        margin-top: 0px;
        width: 100%;
        height:fit-content;
    }
    
    .infoIMSS p {
        margin: 1rem;
    }
    
    .tabla {
        margin: 1rem;
        margin-top: 0rem;
        text-align: center;
        
    }
    
    .extracurricular {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }

    .cuadros {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
    
    .ingles {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 1rem;
        margin-top: 0px;
        flex-wrap: wrap;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 25px;
        align-items: flex-start;
    }
    
    .ingles h3 {
        color: white;
        font-size: x-large;
    }
    
    .electiva {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 1rem;
        flex-wrap: wrap;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }
    
    .electiva h3 {
        color: white;
        font-size: x-large;
        margin: 5px;
    }
    
    .bar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #57812C;
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 25px 25px 0 0;
    }
    
    .infoBar p {
        margin: 1rem;
        margin-top: 0px;
    }
    
    .acreditacion {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .acreditacion p {
        text-align: center;
    }

    .infoAcademico {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* DESKTOP */
@media (min-width: 992px){
    .alumno, .infoAcademico, .extracurricular {
        margin: 2rem;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    
    .alumno h2 {
        text-align: center;
        margin-bottom: 1rem;
        flex: 100%;
    }
    
    .cardAlumno {
        flex-shrink: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 25px 5px 15px 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 25px;
        margin: 2rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    
    .foto {
        display: flex;
        flex: 50%;
        justify-content: center;
    }
    
    .foto img {
        height: 200px;
        width: auto;
    }
    
    .infoAlumno {
        flex: 75%;
        margin-right: 1rem;
    }
    
    .infoAlumno p {
        line-height: 1.5em;
        margin-bottom: 5px;
    }
    
    .infoIMSS {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        margin: 1rem;
        width: 30%;
        height:fit-content;
    }
    
    .infoIMSS p {
        margin: 1rem;
    }
    
    .tabla {
        display: flex;
        justify-content: center;
        margin: 1rem;
        text-align: center;
    }
    
    .extracurricular {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }
    
    .extracurricular h2 {
        width: 100%;
        margin: 2rem;
        margin-top: 0px;
        margin-bottom: 0rem;
    }

    .cuadros {
        display: flex;
        justify-content: center;
    }
    
    .ingles {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 1rem;
        flex-wrap: wrap;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }
    
    .ingles h3 {
        color: white;
        font-size: x-large;
        margin: 5px;
    }
    
    .electiva {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 1rem;
        flex-wrap: wrap;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }
    
    .electiva h3 {
        color: white;
        font-size: x-large;
        margin: 5px;
    }
    
    .bar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #57812C;
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 25px 25px 0 0;
    }
    
    .infoBar p {
        margin: 1rem;
        margin-top: 0px;
    }
    
    .acreditacion {
        width: 97%;
    }
    
    .acreditacion p {
        text-align: center;
    }
}



