/* ---------------- HEADER ----------------- */

/* MOBILE */
@media (max-width: 991px){
    header {
        background-color: #57812C;
        display: flex;
        align-items: center;
        box-shadow: 0 0 10px rgb(0, 0, 0);
    }

    header nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .headerTop {
        display: none;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    .titulo h1{
        margin-bottom: 0;
        font-size: large;
        font-weight: bold;
        color: white;
    }

    .logo {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
    }
    
    .nav-links li{
        display: flex;
        margin: 1rem;
        margin-bottom: 0px;
        list-style: none;
        padding: 0 20px;
        align-items: start;
        justify-content: start;
        margin-top: 20px;
    }
    
    .nav-links a {
        color: white;
        text-align: center;
        width: 100%;
        text-decoration: none;
        font-weight: bold;
    }
    
    .nav-links a:hover {
        background-color: #405f20;
        border-radius: 15px;
    }
    
    .logout {
        border: 1px solid rgb(119, 0, 0);
        transition: all 0.3s ease 0s;
        width: 130px;
        height: 40px;
    }
    
    .logout:hover {
        transform: scale(1.1)
    }
    
    /* -------------------------- */
    
    /* ------- FOOTER ----------- */
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .infoFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        background-color: #223245;
        color: white;
    }
    
    .infoFooter ul {
        margin-bottom: 0px;
    }
    
    
    .infoFooter li {
        list-style: none;
        margin: 2rem;
        text-align: center;
    }
    
    .derechosReservados {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35px;
        background-color: #1C2939;
        color: white;
    }
    
    .derechosReservados p {
        font-size: small;
        margin-bottom: 0px;
    }
}

/* DESKTOP */

@media (min-width:992px){
    header {
        background-color: #57812C;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px rgb(0, 0, 0);
    }
    
    header img {
        width: 150%;
        height: auto;
    }
    
    .headerTop {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
    
    .titulo h1{
        margin-bottom: 0;
        font-size: x-large;
        font-weight: bold;
        color: white;
    }
    
    .logo {
        display: flex;
        justify-content: center;
    }
    
    .nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    
    .nav-links li{
        display: flex;
        margin: 0rem;
        margin-bottom: 1rem;
        list-style: none;
        padding: 0 20px;
        align-items: center;
        justify-content: center;
        margin-top: 0rem;
    }
    
    .nav-links a {
        color: white;
        text-align: center;
        width: 130px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .nav-links a:hover {
        background-color: #405f20;
        border-radius: 15px;
    }
    
    .logout {
        border: 1px solid rgb(119, 0, 0);
        transition: all 0.3s ease 0s;
        width: 130px;
        height: 40px;
    }
    
    .logout:hover {
        transform: scale(1.1)
    }
    
    /* -------------------------- */
    
    /* ------- FOOTER ----------- */
    footer {
        display: flex;
        position: static;
        flex-direction: column;
        align-items: center;
        bottom: 0;
        width: 100%;
    }
    
    .infoFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #223245;
        color: white;
    }
    
    .infoFooter ul {
        margin-bottom: 0px;
    }
    
    
    .infoFooter li {
        list-style: none;
    }
    
    .derechosReservados {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35px;
        background-color: #1C2939;
        color: white;
    }
    
    .derechosReservados p {
        font-size: small;
        margin-bottom: 0px;
    }
}


